body {
	font-family: 'Alegreya', serif;
	color: #000;
}
h1, h2 {
	font-family: 'Staatliches', sans-serif;
	color: #000;
}
#menu {
  	overflow: hidden;
  	background-color: #FFF;
	width: 100%;
}
#menu a {
	font-family: 'Staatliches', sans-serif;
	text-decoration: none;
	color: #999;
}
#menu a:hover {
	font-family: 'Staatliches', sans-serif;
	text-decoration: none;
	color: #000;
}
.sticky-top {
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky-top + .content {
	padding-top: 60px;
}
#content {
	padding: 10%;
	padding-top: 0%;
}
.article-link {
	height: 50%; 
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10%;
}
a.article-link {
	text-decoration: none;
}
.article-link h1 {
	color: #FFF;
}
.product-list a {
	font-family: 'Staatliches', sans-serif;
	text-decoration: none;
	color: #999;
}
.product-list a:hover {
	font-family: 'Staatliches', sans-serif;
	text-decoration: none;
	color: #000;
}
.parallax { 
  /* Set a specific height */
  height: 80%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
