<!DOCTYPE html>
<html>
	<head>
		{% include analytics_head.html %}
		<title>{{ page.title }}</title>
		{% seo %}
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script type="text/javascript" src="/js/sessvars.js"></script>
	</head>
	<body>
		{% include analytics_body.html %}
		<header id="js-header">
			<nav>
				<a href="/">Home</a> |
			 	<a href="/products">Products</a> |
			 	<a href="/about">About</a> |
			 	<a href="/checkout">Check Out</a>
			</nav>
		</header>
		<div id="body">
			{{ content }}
		</div><!-- /.container -->
    <footer>
        <p>Copyright © 2018 JoyInABox. All Rights Reserved.</p>
    </footer>
	</body>
</html>
