<!DOCTYPE html>
<html>
	<head>
		{% include analytics_head.html %}
		<title>{{ page.title }}</title>
		{% seo %}
		<!-- link to main stylesheet -->
		<link href="https://fonts.googleapis.com/css?family=Alegreya|Staatliches" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script type="text/javascript" src="/js/sessvars.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		{% include analytics_body.html %}
		<div id='menu'>
			<a href="/">Home</a>
			<a href="/products">Products</a>
			<a href="/about">About</a>
			<a href="/checkout">Check Out</a>
		</div>
		<div id="content">
			{{ content }}
		</div>
		<script src="sticky-header.js" type="text/javascript">
		</script>
		<footer>
			<p>Copyright © 2018 JoyInABox. All Rights Reserved.</p>
		</footer>
	</body>
</html>
