---
layout: default
---
<div class="product">
  <h1>{{ page.title }}</h1>
  {% if page.img %}
    <img src={{ page.img }} height=500 width=500>
  {% endif %}
  {{ content }}
</div>
<script>
  function addItem(){
    if(sessionStorage.getItem('{{ page.product_id }}')){
      sessionStorage.setItem('{{ page.product_id }}', parseInt(sessionStorage.getItem('{{ page.product_id }}')) + 1);
    } else {
      sessionStorage.setItem('{{ page.product_id }}', 1);
    }
    alert('Added {{ page.title }} to cart.');
  }
</script>
<a href="#" onClick="addItem();">Add to cart</a>
