---
layout: default
---
<h1>{{ page.title }}</h1>
{% if page.img %}
<div class="parallax" style="background-image: url({{ page.img }});">
</div>
{% endif %}
{{ content }}
{% include cart.html %}
<script>
  function addItem(){
    if(sessionStorage.getItem('{{ page.title }}')){
      sessionStorage.setItem('{{ page.title }}', parseInt(sessionStorage.getItem('{{ page.title }}')) + 1);
    } else {
      sessionStorage.setItem('{{ page.title }}', 1);
    }
    location.reload();
  }
</script>
<a href="#" onClick="addItem();">Add to cart</a>
